app/Validators/Schemas/Build.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd" />
  <xs:element name="NamedMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Value" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Outputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Output">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="size" type="xs:unsignedLong" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Site">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Subproject" type="SubprojectType" />
          <xs:element name="Labels" type="LabelsType" />
          <xs:element name="Build">
            <xs:complexType>
              <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Labels" type="LabelsType" />
                  <xs:element name="StartDateTime" type="xs:string" />
                  <xs:element name="StartBuildTime" type="xs:unsignedInt" />
                  <xs:element name="SourceDirectory" type="xs:string" minOccurs="0" />
                  <xs:element name="BinaryDirectory" type="xs:string" minOccurs="0" />
                  <xs:element name="BuildCommand" type="xs:string" />
                  <xs:element name="Error">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BuildLogLine" type="xs:int" />
                        <xs:element name="Text" type="xs:string" />
                        <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                        <xs:element name="SourceLineNumber" type="xs:int" minOccurs="0" />
                        <xs:element name="PreContext" type="xs:string" />
                        <xs:element name="PostContext" type="xs:string" />
                        <xs:element name="RepeatCount" type="xs:int" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Warning">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BuildLogLine" type="xs:unsignedInt" />
                        <xs:element name="Text" type="xs:string" />
                        <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                        <xs:element name="SourceLineNumber" type="xs:unsignedInt" minOccurs="0" />
                        <xs:element name="PreContext" type="xs:string" />
                        <xs:element name="PostContext" type="xs:string" />
                        <xs:element name="RepeatCount" type="xs:unsignedInt" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Failure">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:choice maxOccurs="unbounded">
                          <xs:element name="Action">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TargetName" type="xs:string" minOccurs="0" />
                                <xs:element name="Language" type="xs:string" minOccurs="0" />
                                <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                                <xs:element name="OutputFile" type="xs:string" minOccurs="0" />
                                <xs:element name="OutputType" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Command">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="WorkingDirectory" type="xs:string" minOccurs="0" />
                                <xs:element name="Argument" type="xs:string" maxOccurs="unbounded" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Result">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element name="StdOut" type="xs:string" />
                                  <xs:element name="StdErr" type="xs:string" />
                                  <xs:element name="ExitCondition" type="xs:string" />
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Labels" type="LabelsType" minOccurs="0" />
                        </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Targets">
                    <xs:complexType>
                      <xs:sequence maxOccurs="unbounded">
                        <xs:element name="Target">
                          <xs:complexType>
                            <xs:all>
                              <xs:element name="Labels" type="LabelsType" minOccurs="0"/>
                              <xs:element name="Commands">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:choice maxOccurs="unbounded">
                                      <xs:element name="Compile">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice maxOccurs="unbounded">
                                              <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                                              <xs:element maxOccurs="unbounded" ref="Outputs"/>
                                            </xs:choice>
                                          </xs:sequence>
                                          <xs:attribute name="command" use="required"/>
                                          <xs:attribute name="workingDir" use="required"/>
                                          <xs:attribute name="config" use="required"/>
                                          <xs:attribute name="duration" use="required" type="xs:integer"/>
                                          <xs:attribute name="language" use="required"/>
                                          <xs:attribute name="result" use="required"/>
                                          <xs:attribute name="source" use="required"/>
                                          <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                                          <xs:attribute name="version" use="required" type="xs:integer"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Link">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:choice maxOccurs="unbounded">
                                              <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                                              <xs:element maxOccurs="unbounded" ref="Outputs"/>
                                            </xs:choice>
                                          </xs:sequence>
                                          <xs:attribute name="command" use="required"/>
                                          <xs:attribute name="workingDir" use="required"/>
                                          <xs:attribute name="config" use="required"/>
                                          <xs:attribute name="duration" use="required" type="xs:integer"/>
                                          <xs:attribute name="language" use="required"/>
                                          <xs:attribute name="result" use="required"/>
                                          <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                                          <xs:attribute name="version" use="required" type="xs:integer"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="name" use="required"/>
                            <xs:attribute name="type" use="required"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Commands">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:choice maxOccurs="unbounded">
                          <xs:element name="CmakeBuild">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                              </xs:sequence>
                              <xs:attribute name="command" use="required"/>
                              <xs:attribute name="workingDir" use="required"/>
                              <xs:attribute name="duration" use="required" type="xs:integer"/>
                              <xs:attribute name="result" use="required"/>
                              <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                              <xs:attribute name="version" use="required" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CmakeInstall">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                              </xs:sequence>
                              <xs:attribute name="command" use="required"/>
                              <xs:attribute name="workingDir" use="required"/>
                              <xs:attribute name="duration" use="required" type="xs:integer"/>
                              <xs:attribute name="result" use="required"/>
                              <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                              <xs:attribute name="version" use="required" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Custom">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                                  <xs:element maxOccurs="unbounded" ref="Outputs"/>
                                </xs:choice>
                              </xs:sequence>
                              <xs:attribute name="command" use="required"/>
                              <xs:attribute name="workingDir" use="required"/>
                              <xs:attribute name="duration" use="required" type="xs:integer"/>
                              <xs:attribute name="result" use="required"/>
                              <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                              <xs:attribute name="version" use="required" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Install">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" ref="NamedMeasurement"/>
                              </xs:sequence>
                              <xs:attribute name="command" use="required"/>
                              <xs:attribute name="workingDir" use="required"/>
                              <xs:attribute name="duration" use="required" type="xs:integer"/>
                              <xs:attribute name="result" use="required"/>
                              <xs:attribute name="timeStart" use="required" type="xs:integer"/>
                              <xs:attribute name="version" use="required" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Log" type="LogType" />
                  <xs:element name="EndDateTime" type="xs:string" />
                  <xs:element name="EndBuildTime" type="xs:unsignedInt" />
                  <xs:element name="ElapsedMinutes" type="xs:decimal" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="SiteAttrs"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
