app/Validators/Schemas/Build.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd" />
  <xs:element name="Site">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Subproject" type="SubprojectType" />
          <xs:element name="Labels" type="LabelsType" />
          <xs:element name="Build">
            <xs:complexType>
              <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Labels" type="LabelsType" />
                  <xs:element name="StartDateTime" type="xs:string" />
                  <xs:element name="StartBuildTime" type="xs:unsignedInt" />
                  <xs:element name="BuildCommand" type="xs:string" />
                  <xs:element name="Error">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BuildLogLine" type="xs:int" />
                        <xs:element name="Text" type="xs:string" />
                        <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                        <xs:element name="SourceLineNumber" type="xs:int" minOccurs="0" />
                        <xs:element name="PreContext" type="xs:string" />
                        <xs:element name="PostContext" type="xs:string" />
                        <xs:element name="RepeatCount" type="xs:int" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Warning">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BuildLogLine" type="xs:unsignedInt" />
                        <xs:element name="Text" type="xs:string" />
                        <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                        <xs:element name="SourceLineNumber" type="xs:unsignedInt" minOccurs="0" />
                        <xs:element name="PreContext" type="xs:string" />
                        <xs:element name="PostContext" type="xs:string" />
                        <xs:element name="RepeatCount" type="xs:unsignedInt" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Failure">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:choice maxOccurs="unbounded">
                          <xs:element name="Action">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TargetName" type="xs:string" minOccurs="0" />
                                <xs:element name="Language" type="xs:string" minOccurs="0" />
                                <xs:element name="SourceFile" type="xs:string" minOccurs="0" />
                                <xs:element name="OutputFile" type="xs:string" minOccurs="0" />
                                <xs:element name="OutputType" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Command">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="WorkingDirectory" type="xs:string" minOccurs="0" />
                                <xs:element name="Argument" type="xs:string" maxOccurs="unbounded" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Result">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:choice maxOccurs="unbounded">
                                  <xs:element name="StdOut" type="xs:string" />
                                  <xs:element name="StdErr" type="xs:string" />
                                  <xs:element name="ExitCondition" type="xs:string" />
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Labels" type="LabelsType" minOccurs="0" />
                        </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Log" type="LogType" />
                  <xs:element name="EndDateTime" type="xs:string" />
                  <xs:element name="EndBuildTime" type="xs:unsignedInt" />
                  <xs:element name="ElapsedMinutes" type="xs:decimal" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="SiteAttrs"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
