app/Validators/Schemas/Done.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Done">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="buildId" type="xs:string" />
        <xs:element name="time" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="retries" type="xs:int" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
