app/Validators/Schemas/Notes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd" />
  <xs:element name="Site">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Subproject" type="SubprojectType" minOccurs="0" />
        <xs:element name="Labels" type="LabelsType" minOccurs="0" />
        <xs:element name="Notes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Note" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Time" type="xs:string" minOccurs="0"/>
                    <xs:element name="DateTime" type="xs:string" minOccurs="0"/>
                    <xs:element name="Text" type="LogType" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="SiteAttrs" />
    </xs:complexType>
  </xs:element>
</xs:schema>
