app/Validators/Schemas/Upload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="common.xsd" />
  <xs:element name="Site">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Labels" type="LabelsType" minOccurs="0"/>
          <xs:element name="Upload">
            <xs:complexType>
              <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Time" type="xs:string" minOccurs="0"/>
                  <xs:element maxOccurs="unbounded" name="File">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Content" type="LogType" />
                      </xs:sequence>
                      <xs:attribute name="filename" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="SiteAttrs"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
